@use 'Header';
@use 'Nosotros';
@use 'index';
@use 'destacado';
@use 'contacto';
@use 'cuenta';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;}

.body-footer{
    font-size: 20px;
    font-size: bolder;
    display: flex;
    width: 100%;
    float: left;
    background-color: rgba(252, 44, 44, 0.815);
    height: 100px;
    padding-top: 40px;
    margin-top: 220px;
    }


